<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>redirectURI</key>
	<string>com.bright.app://oauth2redirect/bright</string>
	<key>issuer</key>
	<string>https://sandbox-login.brighthr.com</string>
	<key>clientId</key>
	<string>ios</string>
	<key>scopes</key>
	<array>
		<string>openid</string>
		<string>offline_access</string>
		<string>auth-subject-config</string>
	</array>
</dict>
</plist>
